
*{
font-family: 'Poppins', sans-serif;
}

nav a {

    font-family: 'Pacifico', cursive;

}
footer p{
    font-family: 'Pacifico', cursive; 
}

html , body {

    height: 100%;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.card{
    border-radius: 20px;
} 
.card:hover{
    transform: scale(1.1);
} 